.currencyInput {
  display: flex;

  input {
    width: calc(100% - 150px);
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid grey;
  }

  select {
    width: 150px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}
