.root {
  display: flex;
  flex-direction: column;
  gap: 7px;

  .header {
    h4 {
      text-align: start;
      color: rgb(238, 129, 129);
    }
  }

  .currencyInput {
    display: flex;

    input {
      width: 100%;
      padding: 8px;
      // border-radius: 5px;
      // border: 1px solid grey;
    }
  }
}
